version: '3.6'
services:
  node:
    container_name: API_blog_node
    image: 'node:latest'
    working_dir: /home/node/app
    env_file:
      - .env
    command:
      - /bin/sh
      - '-c'
      - 'npm install && npm start'
    links:
      - mongo
    ports:
      - '3000:3000'
    volumes:
      - './src:/home/node/app'
    networks:
      - API_Networks
  mongo:
    container_name: API_blog_mongo
    image: 'mongo:4.0.7'
    ports:
      - '27019:27017'
    networks:
      - API_Networks
networks:
  API_Networks:
    driver: bridge